#spot-color-063F6C {
  border: 2.125rem solid #063F6C;
  position: fixed;
  top: 75vh;
  left: 50%;
  z-index: 1000;
  background-color: #063F6C;
}

#spot-color-0B5790 {
  border: 2.125rem solid #0B5790;
  position: fixed;
  top: 75vh;
  left: 55%;
  z-index: 1000;
  background-color: #0B5790;
}
#table--debug {
  position: fixed;
  top: 45vh;
  left: 25%;
  z-index: 1000;
  width: 25%;
}