
/**
 * @summary Initializes grid
 *
 * @selector .ltn-grid
 * @modifier
 */
.ltn-grid {
  display: -ms-flexbox;
  display: flex; }

/**
 * @summary Initializes grid
 *
 * @selector .ltn-grid_frame
 * @modifier
 */
.ltn-grid_frame,
.ltn-grid--frame {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden; }

/**
 * @summary Initializes grid
 *
 * @selector .ltn-grid_vertical
 * @modifier
 */
.ltn-grid_vertical,
.ltn-grid--vertical {
  -ms-flex-direction: column;
      flex-direction: column; }

/**
 * @summary Initializes grid
 *
 * @selector .ltn-grid_vertical-reverse
 * @modifier
 */
.ltn-grid_vertical-reverse,
.ltn-grid--vertical-reverse {
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }

/**
 * @summary Initializes grid
 *
 * @selector .ltn-grid_reverse
 * @modifier
 */
.ltn-grid_reverse,
.ltn-grid--reverse {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }

/**
 * @summary Allows columns to wrap when they exceed 100% of their parent’s width
 *
 * @selector .ltn-wrap
 * @modifier
 */
.ltn-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: start;
      align-items: flex-start; }

/**
 * @summary Keeps columns on one line. Allows columns to stretch and fill 100% of the parent&rsquo;s width and height.
 *
 * @selector .ltn-nowrap
 * @modifier
 */
.ltn-nowrap {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-align: stretch;
      align-items: stretch; }

/**
 * @summary .ltn-{size}-nowrap used for responsive design
 *
 * @selector [class*='-nowrap']
 * @modifier
 */
@media (min-width: 20em) {
  .ltn-x-small-nowrap {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-align: stretch;
        align-items: stretch; } }

@media (min-width: 30em) {
  .ltn-small-nowrap {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-align: stretch;
        align-items: stretch; } }

@media (min-width: 48em) {
  .ltn-medium-nowrap {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-align: stretch;
        align-items: stretch; } }

@media (min-width: 64em) {
  .ltn-large-nowrap {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-align: stretch;
        align-items: stretch; } }

/**
 * @summary Apply 12px gutters to each grid column when you add this class to an `ltn-grid` element
 * @selector .ltn-gutters
 * @modifier
 */
.ltn-gutters {
  margin-right: -0.75rem;
  margin-left: -0.75rem; }

.ltn-gutters .ltn-col {
  padding-right: 0.75rem;
  padding-left: 0.75rem; }

/**
 * @summary Apply 2px gutters to each grid column when you add this class to an `ltn-grid` element
 * @selector .ltn-gutters_xxx-small
 * @modifier
 */
.ltn-gutters_xxx-small {
  margin-right: -0.125rem;
  margin-left: -0.125rem; }

.ltn-gutters_xxx-small .ltn-col {
  padding-right: 0.125rem;
  padding-left: 0.125rem; }

/**
 * @summary Apply 4px gutters to each grid column when you add this class to an `ltn-grid` element
 * @selector .ltn-gutters_xx-small
 * @modifier
 */
.ltn-gutters_xx-small {
  margin-right: -0.25rem;
  margin-left: -0.25rem; }

.ltn-gutters_xx-small .ltn-col {
  padding-right: 0.25rem;
  padding-left: 0.25rem; }

/**
 * @summary Apply 8px gutters to each grid column when you add this class to an `ltn-grid` element
 * @selector .ltn-gutters_x-small
 * @modifier
 */
.ltn-gutters_x-small {
  margin-right: -0.5rem;
  margin-left: -0.5rem; }

.ltn-gutters_x-small .ltn-col {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

/**
 * @summary Apply 12px gutters to each grid column when you add this class to an `ltn-grid` element
 * @selector .ltn-gutters_small
 * @modifier
 */
.ltn-gutters_small {
  margin-right: -0.75rem;
  margin-left: -0.75rem; }

.ltn-gutters_small .ltn-col {
  padding-right: 0.75rem;
  padding-left: 0.75rem; }

/**
 * @summary Apply 16px gutters to each grid column when you add this class to an `ltn-grid` element
 * @selector .ltn-gutters_medium
 * @modifier
 */
.ltn-gutters_medium {
  margin-right: -1rem;
  margin-left: -1rem; }

.ltn-gutters_medium .ltn-col {
  padding-right: 1rem;
  padding-left: 1rem; }

/**
 * @summary Apply 24px gutters to each grid column when you add this class to an `ltn-grid` element
 * @selector .ltn-gutters_large
 * @modifier
 */
.ltn-gutters_large {
  margin-right: -1.5rem;
  margin-left: -1.5rem; }

.ltn-gutters_large .ltn-col {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

/**
 * @summary Apply 32px gutters to each grid column when you add this class to an `ltn-grid` element
 * @selector .ltn-gutters_x-large
 * @modifier
 */
.ltn-gutters_x-large {
  margin-right: -2rem;
  margin-left: -2rem; }

.ltn-gutters_x-large .ltn-col {
  padding-right: 2rem;
  padding-left: 2rem; }

/**
 * @summary Apply 48px gutters to each grid column when you add this class to an `ltn-grid` element
 * @selector .ltn-gutters_xx-large
 * @modifier
 */
.ltn-gutters_xx-large {
  margin-right: -3rem;
  margin-left: -3rem; }

.ltn-gutters_xx-large .ltn-col {
  padding-right: 3rem;
  padding-left: 3rem; }

/**
 * @summary Apply 12px gutters to only direct column children when you add this class to an `ltn-grid` element
 * @selector .ltn-gutters_direct
 * @modifier
 */
.ltn-gutters_direct {
  margin-right: -0.75rem;
  margin-left: -0.75rem; }

.ltn-gutters_direct > .ltn-col {
  padding-right: 0.75rem;
  padding-left: 0.75rem; }

/**
 * @summary Apply 2px gutters to only direct column children when you add this class to an `ltn-grid` element
 * @selector .ltn-gutters_direct-xxx-small
 * @modifier
 */
.ltn-gutters_direct-xxx-small {
  margin-right: -0.125rem;
  margin-left: -0.125rem; }

.ltn-gutters_direct-xxx-small > .ltn-col {
  padding-right: 0.125rem;
  padding-left: 0.125rem; }

/**
 * @summary Apply 4px gutters to only direct column children when you add this class to an `ltn-grid` element
 * @selector .ltn-gutters_direct-xx-small
 * @modifier
 */
.ltn-gutters_direct-xx-small {
  margin-right: -0.25rem;
  margin-left: -0.25rem; }

.ltn-gutters_direct-xx-small > .ltn-col {
  padding-right: 0.25rem;
  padding-left: 0.25rem; }

/**
 * @summary Apply 8px gutters to only direct column children when you add this class to an `ltn-grid` element
 * @selector .ltn-gutters_direct-x-small
 * @modifier
 */
.ltn-gutters_direct-x-small {
  margin-right: -0.5rem;
  margin-left: -0.5rem; }

.ltn-gutters_direct-x-small > .ltn-col {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

/**
 * @summary Apply 12px gutters to only direct column children when you add this class to an `ltn-grid` element
 * @selector .ltn-gutters_direct-small
 * @modifier
 */
.ltn-gutters_direct-small {
  margin-right: -0.75rem;
  margin-left: -0.75rem; }

.ltn-gutters_direct-small > .ltn-col {
  padding-right: 0.75rem;
  padding-left: 0.75rem; }

/**
 * @summary Apply 16px gutters to only direct column children when you add this class to an `ltn-grid` element
 * @selector .ltn-gutters_direct-medium
 * @modifier
 */
.ltn-gutters_direct-medium {
  margin-right: -1rem;
  margin-left: -1rem; }

.ltn-gutters_direct-medium > .ltn-col {
  padding-right: 1rem;
  padding-left: 1rem; }

/**
 * @summary Apply 24px gutters to only direct column children when you add this class to an `ltn-grid` element
 * @selector .ltn-gutters_direct-large
 * @modifier
 */
.ltn-gutters_direct-large {
  margin-right: -1.5rem;
  margin-left: -1.5rem; }

.ltn-gutters_direct-large > .ltn-col {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

/**
 * @summary Apply 32px gutters to only direct column children when you add this class to an `ltn-grid` element
 * @selector .ltn-gutters_direct-x-large
 * @modifier
 */
.ltn-gutters_direct-x-large {
  margin-right: -2rem;
  margin-left: -2rem; }

.ltn-gutters_direct-x-large > .ltn-col {
  padding-right: 2rem;
  padding-left: 2rem; }

/**
 * @summary Apply 48px gutters to only direct column children when you add this class to an `ltn-grid` element
 * @selector .ltn-gutters_direct-xx-large
 * @modifier
 */
.ltn-gutters_direct-xx-large {
  margin-right: -3rem;
  margin-left: -3rem; }

.ltn-gutters_direct-xx-large > .ltn-col {
  padding-right: 3rem;
  padding-left: 3rem; }

/**
 * @summary Normalizes the 0.75rem of padding when nesting a grid in a region with `.ltn-p-horizontal_small`
 *
 * @selector .ltn-grid_pull-padded
 * @modifier
 */
.ltn-grid_pull-padded,
.ltn-grid--pull-padded {
  margin-right: -0.75rem;
  margin-left: -0.75rem; }

/**
 * @summary Normalizes the 0.125rem of padding when nesting a grid in a region with `.ltn-p-horizontal_xxx-small`
 *
 * @selector .ltn-grid_pull-padded-xxx-small
 * @modifier
 */
.ltn-grid_pull-padded-xxx-small,
.ltn-grid--pull-padded-xxx-small {
  margin-right: -0.125rem;
  margin-left: -0.125rem; }

/**
 * @summary Normalizes the 0.25rem of padding when nesting a grid in a region with `.ltn-p-horizontal_xx-small`
 *
 * @selector .ltn-grid_pull-padded-xx-small
 * @modifier
 */
.ltn-grid_pull-padded-xx-small,
.ltn-grid--pull-padded-xx-small {
  margin-right: -0.25rem;
  margin-left: -0.25rem; }

/**
 * @summary Normalizes the 0.5rem of padding when nesting a grid in a region with `.ltn-p-horizontal_x-small`
 *
 * @selector .ltn-grid_pull-padded-x-small
 * @modifier
 */
.ltn-grid_pull-padded-x-small,
.ltn-grid--pull-padded-x-small {
  margin-right: -0.5rem;
  margin-left: -0.5rem; }

/**
 * @summary Normalizes the 0.75rem of padding when nesting a grid in a region with `.ltn-p-horizontal_small`
 *
 * @selector .ltn-grid_pull-padded-small
 * @modifier
 */
.ltn-grid_pull-padded-small,
.ltn-grid--pull-padded-small {
  margin-right: -0.75rem;
  margin-left: -0.75rem; }

/**
 * @summary Normalizes the 1rem of padding when nesting a grid in a region with `.ltn-p-horizontal_medium`
 *
 * @selector .ltn-grid_pull-padded-medium
 * @modifier
 */
.ltn-grid_pull-padded-medium,
.ltn-grid--pull-padded-medium {
  margin-right: -1rem;
  margin-left: -1rem; }

/**
 * @summary Normalizes the 1.5rem of padding when nesting a grid in a region with `.ltn-p-horizontal_large`
 *
 * @selector .ltn-grid_pull-padded-large
 * @modifier
 */
.ltn-grid_pull-padded-large,
.ltn-grid--pull-padded-large {
  margin-right: -1.5rem;
  margin-left: -1.5rem; }

/**
 * @summary Normalizes the 1.5rem of padding when nesting a grid in a region with `.ltn-p-horizontal_x-large`
 *
 * @selector .ltn-grid_pull-padded-x-large
 * @modifier
 */
.ltn-grid_pull-padded-x-large,
.ltn-grid--pull-padded-x-large {
  margin-right: -2rem;
  margin-left: -2rem; }

/**
 * @summary Normalizes the 1.5rem of padding when nesting a grid in a region with `.ltn-p-horizontal_xx-large`
 *
 * @selector .ltn-grid_pull-padded-xx-large
 * @modifier
 */
.ltn-grid_pull-padded-xx-large,
.ltn-grid--pull-padded-xx-large {
  margin-right: -3rem;
  margin-left: -3rem; }

/**
 * @summary Initializes a grid column
 *
 * @selector .ltn-col
 * @modifier
 */
.ltn-col,
[class*="ltn-col_padded"],
[class*="ltn-col--padded"] {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto; }

/**
 * @summary Adds border to top side of column
 *
 * @selector .ltn-col_rule-top
 * @restrict .ltn-col
 * @modifier
 */
@media (min-width: 64em) {
  .ltn-col_rule-top,
  .ltn-col--rule-top {
    border-top: 1px solid #f3f2f2; } }

/**
 * @summary Adds border to right side of column
 *
 * @selector .ltn-col_rule-right
 * @restrict .ltn-col
 * @modifier
 */
@media (min-width: 64em) {
  .ltn-col_rule-right,
  .ltn-col--rule-right {
    border-right: 1px solid #f3f2f2; } }

/**
 * @summary Adds border to bottom side of column
 *
 * @selector .ltn-col_rule-bottom
 * @restrict .ltn-col
 * @modifier
 */
@media (min-width: 64em) {
  .ltn-col_rule-bottom,
  .ltn-col--rule-bottom {
    border-bottom: 1px solid #f3f2f2; } }

/**
 * @summary Adds border to left side of column
 *
 * @selector .ltn-col_rule-left
 * @restrict .ltn-col
 * @modifier
 */
@media (min-width: 64em) {
  .ltn-col_rule-left,
  .ltn-col--rule-left {
    border-left: 1px solid #f3f2f2; } }

/**
 * @summary Needed when truncation is nested in a flexible container in a grid
 *
 * @selector .ltn-has-flexi-truncate
 * @modifier
 */
.ltn-has-flexi-truncate {
  -ms-flex: 1 1 0%;
      flex: 1 1 0%;
  min-width: 0; }

/**
 * @summary Removes flexbox from grid column
 *
 * @selector .ltn-no-flex
 * @modifier
 */
.ltn-no-flex {
  -ms-flex: none;
      flex: none; }

/**
 * @summary Sets the column to a min-width of 0
 *
 * @selector .ltn-no-space
 * @modifier
 */
.ltn-no-space {
  min-width: 0; }

/**
 * @summary Allows column to grow to children&rsquo;s content
 *
 * @selector .ltn-grow
 * @modifier
 */
.ltn-grow {
  -ms-flex-positive: 1;
      flex-grow: 1; }

/**
 * @summary Prevents column from growing to children&rsquo;s content
 *
 * @selector .ltn-grow-none
 * @modifier
 */
.ltn-grow-none {
  -ms-flex-positive: 0;
      flex-grow: 0; }

/**
 * @summary Allows column to shrink to children's content
 *
 * @selector .ltn-shrink
 * @modifier
 */
.ltn-shrink {
  -ms-flex-negative: 1;
      flex-shrink: 1; }

/**
 * @summary Prevents column from shrinking to children's content
 *
 * @selector .ltn-shrink-none
 * @modifier
 */
.ltn-shrink-none {
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.ltn-text-longform ul.ltn-grid {
  margin-left: 0;
  list-style: none; }

/**
 * @summary Columns align in the center to the main axis and expand in each direction
 *
 * @selector .ltn-grid_align-center
 * @modifier
 */
.ltn-grid_align-center,
.ltn-grid--align-center {
  -ms-flex-pack: center;
      justify-content: center; }

.ltn-grid_align-center .ltn-col,
.ltn-grid_align-center [class*="ltn-col_padded"],
.ltn-grid_align-center [class*="ltn-col--padded"],
.ltn-grid--align-center .ltn-col,
.ltn-grid--align-center [class*="ltn-col_padded"],
.ltn-grid--align-center [class*="ltn-col--padded"] {
  -ms-flex-positive: 0;
      flex-grow: 0; }

/**
 * @summary Columns are evenly distributed with equal space around them all
 *
 * @selector .ltn-grid_align-space
 * @modifier
 */
.ltn-grid_align-space,
.ltn-grid--align-space {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.ltn-grid_align-space .ltn-col,
.ltn-grid_align-space [class*="ltn-col_padded"],
.ltn-grid_align-space [class*="ltn-col--padded"],
.ltn-grid--align-space .ltn-col,
.ltn-grid--align-space [class*="ltn-col_padded"],
.ltn-grid--align-space [class*="ltn-col--padded"] {
  -ms-flex-positive: 0;
      flex-grow: 0; }

/**
 * @summary Columns align to the left and right followed by center. Space is equal between them
 *
 * @selector .ltn-grid_align-spread
 * @notes With only two columns &mdash; you can get a similar effect by setting one of the columns to `.ltn-no-flex`
 * @modifier
 */
.ltn-grid_align-spread,
.ltn-grid--align-spread {
  -ms-flex-pack: justify;
      justify-content: space-between; }

.ltn-grid_align-spread .ltn-col,
.ltn-grid_align-spread [class*="ltn-col_padded"],
.ltn-grid_align-spread [class*="ltn-col--padded"],
.ltn-grid--align-spread .ltn-col,
.ltn-grid--align-spread [class*="ltn-col_padded"],
.ltn-grid--align-spread [class*="ltn-col--padded"] {
  -ms-flex-positive: 0;
      flex-grow: 0; }

/**
 * @summary Columns start on the opposite end of the grid's main axis
 *
 * @selector .ltn-grid_align-end
 * @modifier
 */
.ltn-grid_align-end,
.ltn-grid--align-end {
  -ms-flex-pack: end;
      justify-content: flex-end; }

.ltn-grid_align-end .ltn-col,
.ltn-grid_align-end [class*="ltn-col_padded"],
.ltn-grid_align-end [class*="ltn-col--padded"],
.ltn-grid--align-end .ltn-col,
.ltn-grid--align-end [class*="ltn-col_padded"],
.ltn-grid--align-end [class*="ltn-col--padded"] {
  -ms-flex-positive: 0;
      flex-grow: 0; }

/**
 * @summary Columns start at the beginning of the grid's cross axis
 *
 * @selector .ltn-grid_vertical-align-start
 * @modifier
 */
.ltn-grid_vertical-align-start,
.ltn-grid--vertical-align-start {
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start; }

/**
 * @summary Columns align in the center to the cross axis and expand it each direction
 *
 * @selector .ltn-grid_vertical-align-center
 * @modifier
 */
.ltn-grid_vertical-align-center,
.ltn-grid--vertical-align-center {
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: center;
      align-content: center; }

/**
 * @summary Columns start on the opposite end of the grid's cross axis
 *
 * @selector .ltn-grid_vertical-align-end
 * @modifier
 */
.ltn-grid_vertical-align-end,
.ltn-grid--vertical-align-end {
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end; }

/**
 * @summary Vertically aligns element to top of `.ltn-grid`
 *
 * @selector .ltn-align-top
 * @modifier
 */
.ltn-align-top {
  vertical-align: top;
  -ms-flex-item-align: start;
      align-self: flex-start; }

/**
 * @summary Vertically aligns element to middle of `.ltn-grid`
 *
 * @selector .ltn-align-middle
 * @modifier
 */
.ltn-align-middle {
  vertical-align: middle;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }

/**
 * @summary Vertically aligns element to bottom of `.ltn-grid`
 *
 * @selector .ltn-align-bottom
 * @modifier
 */
.ltn-align-bottom {
  vertical-align: bottom;
  -ms-flex-item-align: end;
      align-self: flex-end; }

/**
 * @summary Bumps grid item(s) away from the other grid items to sit at the top, taking up the remaining white-space of the grid container
 *
 * @selector .ltn-col_bump-top
 * @modifier
 */
.ltn-col_bump-top,
.ltn-col--bump-top {
  margin-top: auto; }

/**
 * @summary Bumps grid item(s) away from the other grid items to sit to the right, taking up the remaining white-space of the grid container
 *
 * @selector .ltn-col_bump-right
 * @modifier
 */
.ltn-col_bump-right,
.ltn-col--bump-right {
  margin-right: auto; }

/**
 * @summary Bumps grid item(s) away from the other grid items to sit at the bottom, taking up the remaining white-space of the grid container
 *
 * @selector .ltn-col_bump-bottom
 * @modifier
 */
.ltn-col_bump-bottom,
.ltn-col--bump-bottom {
  margin-bottom: auto; }

/**
 * @summary Bumps grid item(s) away from the other grid items to sit to the left, taking up the remaining white-space of the grid container
 *
 * @selector .ltn-col_bump-left
 * @modifier
 */
.ltn-col_bump-left,
.ltn-col--bump-left {
  margin-left: auto; }

/**
 * @summary Stretch the grid items for both single row and multi-line rows to fill the height of the parent grid container
 *
 * @selector .ltn-grid_vertical-stretch
 * @notes Grid items will stretch the height of the parent grid container by default, unless `&lt;wrap&gt;` is used
 * @modifier
 */
.ltn-grid_vertical-stretch,
.ltn-grid--vertical-stretch {
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch; }

/**
 * @summary Restrict width of containers to a maximum of 480px
 *
 * @selector .ltn-container_small
 * @modifier
 */
.ltn-container_small,
.ltn-container--small {
  max-width: 30rem; }

/**
 * @summary Restrict width of containers to a maximum of 768px
 *
 * @selector .ltn-container_medium
 * @modifier
 */
.ltn-container_medium,
.ltn-container--medium {
  max-width: 48rem; }

/**
 * @summary Restrict width of containers to a maximum of 1024px
 *
 * @selector .ltn-container_large
 * @modifier
 */
.ltn-container_large,
.ltn-container--large {
  max-width: 64rem; }

/**
 * @summary Restrict width of containers to a maximum of 1280px
 *
 * @selector .ltn-container_x-large
 * @modifier
 */
.ltn-container_x-large,
.ltn-container--x-large {
  max-width: 80rem; }

/**
 * @summary Width of container takes up 100% of viewport
 *
 * @selector .ltn-container_fluid
 * @modifier
 */
.ltn-container_fluid,
.ltn-container--fluid {
  width: 100%; }

/**
 * @summary Horizontally positions containers in the center of the viewport
 *
 * @selector .ltn-container_center
 * @modifier
 */
.ltn-container_center,
.ltn-container--center {
  margin-left: auto;
  margin-right: auto; }

/**
 * @summary Horizontally positions containers to the left of the viewport
 *
 * @selector .ltn-container_left
 * @modifier
 */
.ltn-container_left,
.ltn-container--left {
  margin-right: auto; }

/**
 * @summary Horizontally positions containers to the right of the viewport
 *
 * @selector .ltn-container_right
 * @modifier
 */
.ltn-container_right,
.ltn-container--right {
  margin-left: auto; }

.ltn-grid_overflow,
.ltn-grid--overflow {
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap; }

.ltn-grid_overflow .ltn-col,
.ltn-grid--overflow .ltn-col {
  min-width: 11.25em;
  max-width: 22.5em; }
