.ltn-m-top_none,
.ltn-m-top--none {
  margin-top: 0 !important; }

.ltn-m-top_xxx-small,
.ltn-m-top--xxx-small {
  margin-top: 0.125rem; }

.ltn-m-top_xx-small,
.ltn-m-top--xx-small {
  margin-top: 0.25rem; }

.ltn-m-top_x-small,
.ltn-m-top--x-small {
  margin-top: 0.5rem; }

.ltn-m-top_small,
.ltn-m-top--small {
  margin-top: 0.75rem; }

.ltn-m-top_medium,
.ltn-m-top--medium {
  margin-top: 1rem; }

.ltn-m-top_large,
.ltn-m-top--large {
  margin-top: 1.5rem; }

.ltn-m-top_x-large,
.ltn-m-top--x-large {
  margin-top: 2rem; }

.ltn-m-top_xx-large,
.ltn-m-top--xx-large {
  margin-top: 3rem; }

.ltn-var-m-top_xxx-small {
  margin-top: 0.125rem; }

.ltn-var-m-top_xx-small {
  margin-top: 0.25rem; }

.ltn-var-m-top_x-small {
  margin-top: 0.5rem; }

.ltn-var-m-top_small {
  margin-top: 0.75rem; }

.ltn-var-m-top_medium {
  margin-top: 1rem; }

.ltn-var-m-top_large {
  margin-top: 1.5rem; }

.ltn-var-m-top_x-large {
  margin-top: 2rem; }

.ltn-var-m-top_xx-large {
  margin-top: 3rem; }

.ltn-m-right_none,
.ltn-m-right--none {
  margin-right: 0 !important; }

.ltn-m-right_xxx-small,
.ltn-m-right--xxx-small {
  margin-right: 0.125rem; }

.ltn-m-right_xx-small,
.ltn-m-right--xx-small {
  margin-right: 0.25rem; }

.ltn-m-right_x-small,
.ltn-m-right--x-small {
  margin-right: 0.5rem; }

.ltn-m-right_small,
.ltn-m-right--small {
  margin-right: 0.75rem; }

.ltn-m-right_medium,
.ltn-m-right--medium {
  margin-right: 1rem; }

.ltn-m-right_large,
.ltn-m-right--large {
  margin-right: 1.5rem; }

.ltn-m-right_x-large,
.ltn-m-right--x-large {
  margin-right: 2rem; }

.ltn-m-right_xx-large,
.ltn-m-right--xx-large {
  margin-right: 3rem; }

.ltn-var-m-right_xxx-small {
  margin-right: 0.125rem; }

.ltn-var-m-right_xx-small {
  margin-right: 0.25rem; }

.ltn-var-m-right_x-small {
  margin-right: 0.5rem; }

.ltn-var-m-right_small {
  margin-right: 0.75rem; }

.ltn-var-m-right_medium {
  margin-right: 1rem; }

.ltn-var-m-right_large {
  margin-right: 1.5rem; }

.ltn-var-m-right_x-large {
  margin-right: 2rem; }

.ltn-var-m-right_xx-large {
  margin-right: 3rem; }

.ltn-m-bottom_none,
.ltn-m-bottom--none {
  margin-bottom: 0 !important; }

.ltn-m-bottom_xxx-small,
.ltn-m-bottom--xxx-small {
  margin-bottom: 0.125rem; }

.ltn-m-bottom_xx-small,
.ltn-m-bottom--xx-small {
  margin-bottom: 0.25rem; }

.ltn-m-bottom_x-small,
.ltn-m-bottom--x-small {
  margin-bottom: 0.5rem; }

.ltn-m-bottom_small,
.ltn-m-bottom--small {
  margin-bottom: 0.75rem; }

.ltn-m-bottom_medium,
.ltn-m-bottom--medium {
  margin-bottom: 1rem; }

.ltn-m-bottom_large,
.ltn-m-bottom--large {
  margin-bottom: 1.5rem; }

.ltn-m-bottom_x-large,
.ltn-m-bottom--x-large {
  margin-bottom: 2rem; }

.ltn-m-bottom_xx-large,
.ltn-m-bottom--xx-large {
  margin-bottom: 3rem; }

.ltn-var-m-bottom_xxx-small {
  margin-bottom: 0.125rem; }

.ltn-var-m-bottom_xx-small {
  margin-bottom: 0.25rem; }

.ltn-var-m-bottom_x-small {
  margin-bottom: 0.5rem; }

.ltn-var-m-bottom_small {
  margin-bottom: 0.75rem; }

.ltn-var-m-bottom_medium {
  margin-bottom: 1rem; }

.ltn-var-m-bottom_large {
  margin-bottom: 1.5rem; }

.ltn-var-m-bottom_x-large {
  margin-bottom: 2rem; }

.ltn-var-m-bottom_xx-large {
  margin-bottom: 3rem; }

.ltn-m-left_none,
.ltn-m-left--none {
  margin-left: 0 !important; }

.ltn-m-left_xxx-small,
.ltn-m-left--xxx-small {
  margin-left: 0.125rem; }

.ltn-m-left_xx-small,
.ltn-m-left--xx-small {
  margin-left: 0.25rem; }

.ltn-m-left_x-small,
.ltn-m-left--x-small {
  margin-left: 0.5rem; }

.ltn-m-left_small,
.ltn-m-left--small {
  margin-left: 0.75rem; }

.ltn-m-left_medium,
.ltn-m-left--medium {
  margin-left: 1rem; }

.ltn-m-left_large,
.ltn-m-left--large {
  margin-left: 1.5rem; }

.ltn-m-left_x-large,
.ltn-m-left--x-large {
  margin-left: 2rem; }

.ltn-m-left_xx-large,
.ltn-m-left--xx-large {
  margin-left: 3rem; }

.ltn-var-m-left_xxx-small {
  margin-left: 0.125rem; }

.ltn-var-m-left_xx-small {
  margin-left: 0.25rem; }

.ltn-var-m-left_x-small {
  margin-left: 0.5rem; }

.ltn-var-m-left_small {
  margin-left: 0.75rem; }

.ltn-var-m-left_medium {
  margin-left: 1rem; }

.ltn-var-m-left_large {
  margin-left: 1.5rem; }

.ltn-var-m-left_x-large {
  margin-left: 2rem; }

.ltn-var-m-left_xx-large {
  margin-left: 3rem; }

.ltn-m-horizontal_none,
.ltn-m-horizontal--none {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.ltn-m-horizontal_xxx-small,
.ltn-m-horizontal--xxx-small {
  margin-left: 0.125rem;
  margin-right: 0.125rem; }

.ltn-m-horizontal_xx-small,
.ltn-m-horizontal--xx-small {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.ltn-m-horizontal_x-small,
.ltn-m-horizontal--x-small {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.ltn-m-horizontal_small,
.ltn-m-horizontal--small {
  margin-left: 0.75rem;
  margin-right: 0.75rem; }

.ltn-m-horizontal_medium,
.ltn-m-horizontal--medium {
  margin-left: 1rem;
  margin-right: 1rem; }

.ltn-m-horizontal_large,
.ltn-m-horizontal--large {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.ltn-m-horizontal_x-large,
.ltn-m-horizontal--x-large {
  margin-left: 2rem;
  margin-right: 2rem; }

.ltn-m-horizontal_xx-large,
.ltn-m-horizontal--xx-large {
  margin-left: 3rem;
  margin-right: 3rem; }

.ltn-var-m-horizontal_xxx-small {
  margin-left: 0.125rem;
  margin-right: 0.125rem; }

.ltn-var-m-horizontal_xx-small {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.ltn-var-m-horizontal_x-small {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.ltn-var-m-horizontal_small {
  margin-left: 0.75rem;
  margin-right: 0.75rem; }

.ltn-var-m-horizontal_medium {
  margin-left: 1rem;
  margin-right: 1rem; }

.ltn-var-m-horizontal_large {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.ltn-var-m-horizontal_x-large {
  margin-left: 2rem;
  margin-right: 2rem; }

.ltn-var-m-horizontal_xx-large {
  margin-left: 3rem;
  margin-right: 3rem; }

.ltn-m-vertical_none,
.ltn-m-vertical--none {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.ltn-m-vertical_xxx-small,
.ltn-m-vertical--xxx-small {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem; }

.ltn-m-vertical_xx-small,
.ltn-m-vertical--xx-small {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.ltn-m-vertical_x-small,
.ltn-m-vertical--x-small {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.ltn-m-vertical_small,
.ltn-m-vertical--small {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.ltn-m-vertical_medium,
.ltn-m-vertical--medium {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.ltn-m-vertical_large,
.ltn-m-vertical--large {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.ltn-m-vertical_x-large,
.ltn-m-vertical--x-large {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.ltn-m-vertical_xx-large,
.ltn-m-vertical--xx-large {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.ltn-var-m-vertical_xxx-small {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem; }

.ltn-var-m-vertical_xx-small {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.ltn-var-m-vertical_x-small {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.ltn-var-m-vertical_small {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.ltn-var-m-vertical_medium {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.ltn-var-m-vertical_large {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.ltn-var-m-vertical_x-large {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.ltn-var-m-vertical_xx-large {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.ltn-m-around_none,
.ltn-m-around--none {
  margin: 0 !important; }

.ltn-m-around_xxx-small,
.ltn-m-around--xxx-small {
  margin: 0.125rem; }

.ltn-m-around_xx-small,
.ltn-m-around--xx-small {
  margin: 0.25rem; }

.ltn-m-around_x-small,
.ltn-m-around--x-small {
  margin: 0.5rem; }

.ltn-m-around_small,
.ltn-m-around--small {
  margin: 0.75rem; }

.ltn-m-around_medium,
.ltn-m-around--medium {
  margin: 1rem; }

.ltn-m-around_large,
.ltn-m-around--large {
  margin: 1.5rem; }

.ltn-m-around_x-large,
.ltn-m-around--x-large {
  margin: 2rem; }

.ltn-m-around_xx-large,
.ltn-m-around--xx-large {
  margin: 3rem; }

.ltn-var-m-around_xxx-small {
  margin: 0.125rem; }

.ltn-var-m-around_xx-small {
  margin: 0.25rem; }

.ltn-var-m-around_x-small {
  margin: 0.5rem; }

.ltn-var-m-around_small {
  margin: 0.75rem; }

.ltn-var-m-around_medium {
  margin: 1rem; }

.ltn-var-m-around_large {
  margin: 1.5rem; }

.ltn-var-m-around_x-large {
  margin: 2rem; }

.ltn-var-m-around_xx-large {
  margin: 3rem; }