.ltn-has-cushion {
  padding: 1rem; }

.ltn-p-top_none,
.ltn-p-top--none {
  padding-top: 0 !important; }

.ltn-p-top_xxx-small,
.ltn-p-top--xxx-small {
  padding-top: 0.125rem; }

.ltn-p-top_xx-small,
.ltn-p-top--xx-small {
  padding-top: 0.25rem; }

.ltn-p-top_x-small,
.ltn-p-top--x-small {
  padding-top: 0.5rem; }

.ltn-p-top_small,
.ltn-p-top--small {
  padding-top: 0.75rem; }

.ltn-p-top_medium,
.ltn-p-top--medium {
  padding-top: 1rem; }

.ltn-p-top_large,
.ltn-p-top--large {
  padding-top: 1.5rem; }

.ltn-p-top_x-large,
.ltn-p-top--x-large {
  padding-top: 2rem; }

.ltn-p-top_xx-large,
.ltn-p-top--xx-large {
  padding-top: 3rem; }

.ltn-var-p-top_xxx-small {
  padding-top: 0.125rem; }

.ltn-var-p-top_xx-small {
  padding-top: 0.25rem; }

.ltn-var-p-top_x-small {
  padding-top: 0.5rem; }

.ltn-var-p-top_small {
  padding-top: 0.75rem; }

.ltn-var-p-top_medium {
  padding-top: 1rem; }

.ltn-var-p-top_large {
  padding-top: 1.5rem; }

.ltn-var-p-top_x-large {
  padding-top: 2rem; }

.ltn-var-p-top_xx-large {
  padding-top: 3rem; }

.ltn-p-right_none,
.ltn-p-right--none {
  padding-right: 0 !important; }

.ltn-p-right_xxx-small,
.ltn-p-right--xxx-small {
  padding-right: 0.125rem; }

.ltn-p-right_xx-small,
.ltn-p-right--xx-small {
  padding-right: 0.25rem; }

.ltn-p-right_x-small,
.ltn-p-right--x-small {
  padding-right: 0.5rem; }

.ltn-p-right_small,
.ltn-p-right--small {
  padding-right: 0.75rem; }

.ltn-p-right_medium,
.ltn-p-right--medium {
  padding-right: 1rem; }

.ltn-p-right_large,
.ltn-p-right--large {
  padding-right: 1.5rem; }

.ltn-p-right_x-large,
.ltn-p-right--x-large {
  padding-right: 2rem; }

.ltn-p-right_xx-large,
.ltn-p-right--xx-large {
  padding-right: 3rem; }

.ltn-var-p-right_xxx-small {
  padding-right: 0.125rem; }

.ltn-var-p-right_xx-small {
  padding-right: 0.25rem; }

.ltn-var-p-right_x-small {
  padding-right: 0.5rem; }

.ltn-var-p-right_small {
  padding-right: 0.75rem; }

.ltn-var-p-right_medium {
  padding-right: 1rem; }

.ltn-var-p-right_large {
  padding-right: 1.5rem; }

.ltn-var-p-right_x-large {
  padding-right: 2rem; }

.ltn-var-p-right_xx-large {
  padding-right: 3rem; }

.ltn-p-bottom_none,
.ltn-p-bottom--none {
  padding-bottom: 0 !important; }

.ltn-p-bottom_xxx-small,
.ltn-p-bottom--xxx-small {
  padding-bottom: 0.125rem; }

.ltn-p-bottom_xx-small,
.ltn-p-bottom--xx-small {
  padding-bottom: 0.25rem; }

.ltn-p-bottom_x-small,
.ltn-p-bottom--x-small {
  padding-bottom: 0.5rem; }

.ltn-p-bottom_small,
.ltn-p-bottom--small {
  padding-bottom: 0.75rem; }

.ltn-p-bottom_medium,
.ltn-p-bottom--medium {
  padding-bottom: 1rem; }

.ltn-p-bottom_large,
.ltn-p-bottom--large {
  padding-bottom: 1.5rem; }

.ltn-p-bottom_x-large,
.ltn-p-bottom--x-large {
  padding-bottom: 2rem; }

.ltn-p-bottom_xx-large,
.ltn-p-bottom--xx-large {
  padding-bottom: 3rem; }

.ltn-var-p-bottom_xxx-small {
  padding-bottom: 0.125rem; }

.ltn-var-p-bottom_xx-small {
  padding-bottom: 0.25rem; }

.ltn-var-p-bottom_x-small {
  padding-bottom: 0.5rem; }

.ltn-var-p-bottom_small {
  padding-bottom: 0.75rem; }

.ltn-var-p-bottom_medium {
  padding-bottom: 1rem; }

.ltn-var-p-bottom_large {
  padding-bottom: 1.5rem; }

.ltn-var-p-bottom_x-large {
  padding-bottom: 2rem; }

.ltn-var-p-bottom_xx-large {
  padding-bottom: 3rem; }

.ltn-p-left_none,
.ltn-p-left--none {
  padding-left: 0 !important; }

.ltn-p-left_xxx-small,
.ltn-p-left--xxx-small {
  padding-left: 0.125rem; }

.ltn-p-left_xx-small,
.ltn-p-left--xx-small {
  padding-left: 0.25rem; }

.ltn-p-left_x-small,
.ltn-p-left--x-small {
  padding-left: 0.5rem; }

.ltn-p-left_small,
.ltn-p-left--small {
  padding-left: 0.75rem; }

.ltn-p-left_medium,
.ltn-p-left--medium {
  padding-left: 1rem; }

.ltn-p-left_large,
.ltn-p-left--large {
  padding-left: 1.5rem; }

.ltn-p-left_x-large,
.ltn-p-left--x-large {
  padding-left: 2rem; }

.ltn-p-left_xx-large,
.ltn-p-left--xx-large {
  padding-left: 3rem; }

.ltn-var-p-left_xxx-small {
  padding-left: 0.125rem; }

.ltn-var-p-left_xx-small {
  padding-left: 0.25rem; }

.ltn-var-p-left_x-small {
  padding-left: 0.5rem; }

.ltn-var-p-left_small {
  padding-left: 0.75rem; }

.ltn-var-p-left_medium {
  padding-left: 1rem; }

.ltn-var-p-left_large {
  padding-left: 1.5rem; }

.ltn-var-p-left_x-large {
  padding-left: 2rem; }

.ltn-var-p-left_xx-large {
  padding-left: 3rem; }

.ltn-p-horizontal_none,
.ltn-p-horizontal--none {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.ltn-p-horizontal_xxx-small,
.ltn-p-horizontal--xxx-small {
  padding-left: 0.125rem;
  padding-right: 0.125rem; }

.ltn-p-horizontal_xx-small,
.ltn-p-horizontal--xx-small {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.ltn-p-horizontal_x-small,
.ltn-p-horizontal--x-small {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.ltn-p-horizontal_small,
.ltn-p-horizontal--small {
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

.ltn-p-horizontal_medium,
.ltn-p-horizontal--medium {
  padding-left: 1rem;
  padding-right: 1rem; }

.ltn-p-horizontal_large,
.ltn-p-horizontal--large {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.ltn-p-horizontal_x-large,
.ltn-p-horizontal--x-large {
  padding-left: 2rem;
  padding-right: 2rem; }

.ltn-p-horizontal_xx-large,
.ltn-p-horizontal--xx-large {
  padding-left: 3rem;
  padding-right: 3rem; }

.ltn-var-p-horizontal_xxx-small {
  padding-left: 0.125rem;
  padding-right: 0.125rem; }

.ltn-var-p-horizontal_xx-small {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.ltn-var-p-horizontal_x-small {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.ltn-var-p-horizontal_small {
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

.ltn-var-p-horizontal_medium {
  padding-left: 1rem;
  padding-right: 1rem; }

.ltn-var-p-horizontal_large {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.ltn-var-p-horizontal_x-large {
  padding-left: 2rem;
  padding-right: 2rem; }

.ltn-var-p-horizontal_xx-large {
  padding-left: 3rem;
  padding-right: 3rem; }

.ltn-p-vertical_none,
.ltn-p-vertical--none {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.ltn-p-vertical_xxx-small,
.ltn-p-vertical--xxx-small {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem; }

.ltn-p-vertical_xx-small,
.ltn-p-vertical--xx-small {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.ltn-p-vertical_x-small,
.ltn-p-vertical--x-small {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.ltn-p-vertical_small,
.ltn-p-vertical--small {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.ltn-p-vertical_medium,
.ltn-p-vertical--medium {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.ltn-p-vertical_large,
.ltn-p-vertical--large {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.ltn-p-vertical_x-large,
.ltn-p-vertical--x-large {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.ltn-p-vertical_xx-large,
.ltn-p-vertical--xx-large {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.ltn-var-p-vertical_xxx-small {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem; }

.ltn-var-p-vertical_xx-small {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.ltn-var-p-vertical_x-small {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.ltn-var-p-vertical_small {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.ltn-var-p-vertical_medium {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.ltn-var-p-vertical_large {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.ltn-var-p-vertical_x-large {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.ltn-var-p-vertical_xx-large {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.ltn-p-around_none,
.ltn-p-around--none {
  padding: 0 !important; }

.ltn-p-around_xxx-small,
.ltn-p-around--xxx-small {
  padding: 0.125rem; }

.ltn-p-around_xx-small,
.ltn-p-around--xx-small {
  padding: 0.25rem; }

.ltn-p-around_x-small,
.ltn-p-around--x-small {
  padding: 0.5rem; }

.ltn-p-around_small,
.ltn-p-around--small {
  padding: 0.75rem; }

.ltn-p-around_medium,
.ltn-p-around--medium {
  padding: 1rem; }

.ltn-p-around_large,
.ltn-p-around--large {
  padding: 1.5rem; }

.ltn-p-around_x-large,
.ltn-p-around--x-large {
  padding: 2rem; }

.ltn-p-around_xx-large,
.ltn-p-around--xx-large {
  padding: 3rem; }

.ltn-var-p-around_xxx-small {
  padding: 0.125rem; }

.ltn-var-p-around_xx-small {
  padding: 0.25rem; }

.ltn-var-p-around_x-small {
  padding: 0.5rem; }

.ltn-var-p-around_small {
  padding: 0.75rem; }

.ltn-var-p-around_medium {
  padding: 1rem; }

.ltn-var-p-around_large {
  padding: 1.5rem; }

.ltn-var-p-around_x-large {
  padding: 2rem; }

.ltn-var-p-around_xx-large {
  padding: 3rem; }
