.ltn-container_x-large {
  overflow-x: hidden;
}

#content h1 {
  z-index: 200;
  color: white;
  position: relative;
  text-transform: uppercase;
  margin: 3.4rem auto 0;
  padding: 0;
}

#content h2 {
  z-index: 200;
  color: white;
  position: relative;
  margin: -25px auto 0;
  font-weight: 100;
}

#hero-sky {
  background-image: url("../images/light-the-night___hero-image.png");
  background-repeat: no-repeat;
  z-index: 0;
  width: 100%;
  height: 1100px;
  position: absolute;
  top: 0;
  background-size: contain;
}

.hero-container {
  background-image: url("../images/light-the-night___hero-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top, center;
}

#CTA-buttons, #sponsor-logos {
  z-index: 10;
  position: relative;
}

#CTA-buttons a, #sponsor-logos a {
  display: block;
  cursor: pointer;
}

#CTA-buttons a.clickable-image img, #sponsor-logos a.clickable-image img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50%;
}

#sponsor-logos {
  margin: 90px 25vw 330px;
}

#sponsor-logos a.clickable-image img#sponsor-logo--leukemia-and-lymphoma-society {
  width: 63%;
  margin: 14px 100px 0 0;
}

#CTA-buttons_wrapper {
  padding-bottom: 5rem;
}

#CTA-buttons {
  margin: 0 13vw;
}

#CTA-buttons a.clickable-image img {
  display: block;
  width: 88%;
  height: 88%;
}

#trophy-gold_wrapper {
  margin: 0 auto;
  width: 510px;
}

#trophy-gold_wrapper svg {
  width: 100%;
  height: auto;
}

#walk {
  background-image: url(../images/walk--background-image.png);
  background-color: #012f4c;
  background-size: contain;
  padding: 70px 0;
  background-repeat: no-repeat;
}

#walk h3 {
  z-index: 200;
  color: white;
  font-weight: 100;
  font-size: 3.75rem;
}

#walk .contest-data-table_wrapper {
  width: 80%;
  margin: 4rem auto 400px;
  border: 1px solid #0B5790;
}

#donate {
  background-image: url("../images/donate--background-image.png");
  background-color: #5B3E22;
  background-size: cover;
}

#donate #trophy-gold_wrapper {
  margin-bottom: -100px;
}

#donate #fundrasing-progress {
  margin: 0 18vw;
}

#donate #fundrasing-progress .donate-place-card svg {
  margin: 0 auto;
  display: block;
  width: 80%;
}

#donate .contest-data-table_wrapper {
  margin: 4rem 20vw 4rem 20vw;
  border: 1px solid #0B5790;
}

#donate .ltn-progress-bar_wrapper {
  background: #E8BB66;
  box-shadow: 0 0 24px 10px rgba(0, 0, 0, 0.5);
  padding: 4rem;
}

#donate .ltn-progress-bar_wrapper h2 {
  font-family: TrendSansOne;
  font-size: 36px;
  color: #010D14;
  letter-spacing: -1.69px;
  text-align: center;
}

#donate .ltn-progress-bar_wrapper .ltn-progress-bar {
  background: #5B3E22;
  border: 5px solid #39210A;
  border-radius: 2rem;
  margin: 0 auto;
  width: 100%;
  height: 2.9rem;
  padding: 0.125rem;
}

#donate .ltn-progress-bar_wrapper .ltn-progress-bar .ltn-progress-bar__value {
  background: #FBF3C6;
  border-radius: 2rem;
  height: 2rem;
}

#donate .ltn-progress-bar_wrapper .ltn-donation-progress {
  margin: 1.5rem auto 0;
  font-family: RobotoSlab-Bold;
  font-size: 33px;
  color: #010D14;
  letter-spacing: -0.29px;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */