#sponsor-logos {
	img {
		width: 10rem;
	}
}


#CTA-buttons, #sponsor-logos {

	a {
		display: block;
		cursor: pointer;
	
		&.clickable-image {

			img {
				display: block;
				margin: 0 auto;
				width: 50%;
				height: 50%;

			}
		}

	}
}


#sponsor-logos {
	a {
		&.clickable-image {
			img {
				width: 25%;
				height: 25%;
			}
		}
	}
}


#contest-data-table {
	margin: 0 auto;
}


#trophy-gold_wrapper {
	margin: 0 auto;
	width: 510px;

	svg {
		width: 100%;
		height: auto;
	}
}

#label-gold--state::before {
	display: block;
	content: 'HI THERE';
	height: 200px;
	width: 200px;

}


#donate {
	background-image: url('../images/donate--background-image.png');
	background-color: #5B3E22;
}

h3 {
	font-family: TrendSansOne;
	font-size: 3rem;
	color: #FFFFFF;
	letter-spacing: -6.82px;
	text-align: center;
	text-shadow: 0 4px 0 #010D14;
	line-height: 3rem;
	margin: 0 auto;
	padding: 0;
}