<%_
console.group(`
============================================================
Demuxe: including \`engine/_wrapper.ejs\` now...
------------------------------------------------------------
`);
%>
<!DOCTYPE html>
<html class="<% echo(`${locals.urlSlug}-theme ${locals.urlSlug}-theme_v1`) %>">
	<head>
		<%- include('includes/global/head') _%>
		<% if (locals.siteSection) { %>
			<%- include(`includes/${locals.siteSection}/${locals.siteSection}-head`) _%>
		<% } %>
	</head>

	<body class="<% echo(`${locals.urlSlug}-theme ${locals.urlSlug}-theme_v1`) %>">

		<% if (locals.urlSlug) { %>
		<div id="content-wrapper"  class="<% echo(`container ${locals.urlSlug}_content-wrapper`) %>">
			<div id="content" class="<% echo(`container ${locals.urlSlug}_content-wrapper`) %>>">
				<%- include(`includes/${locals.urlSlug}/${locals.urlSlug}-contents`) _%>
			</div>
		</div>
		<% } %>


		<%- include('includes/global/footer-scripts') %>

	</body>
</html>
<%_
console.log(`...end \`engine/_wrapper.ejs\`
------------------------------------------------------------
`);
console.groupEnd();
%>