

<div class="contest-data-table_wrapper">
<table class="contest-data-table ltn-table ltn-table_cell-buffer ltn-table_striped ">
	<thead>
		<tr class="ltn-line-height_reset">
			<th class="" scope="col">
				<div class="ltn-truncate" title="State">State</div>
			</th>
			<th class="" scope="col">
				<div class="ltn-truncate" title="City">City</div>
			</th>
			<th class="" scope="col">
				<div class="ltn-truncate" title="Participants"><img class="ltn-m-right_xx-small" width="22" src="/images/salesforce-cloud.svg"/>Participants</div>
			</th>
			<th class="" scope="col">
				<div class="ltn-truncate" title="Walk Date">Walk Date</div>
			</th>
			<th class="" scope="col">
				<div class="ltn-truncate" title="Action">Action</div>
			</th>
		</tr>
		</thead>
	<tbody>
<%
	localization.contestData.forEach(function(rowData, RowIndex) {
		console.log(`rowData: `, rowData);

		if (RowIndex === 0) {

		} else {
			let tableRowHtmlOut = '';
			tableRowHtmlOut += `<tr class="ltn-hint-parent">`;
			localization.contestTableRowCellsToShow.forEach(function(columnIndex, index) {
				if (index === 0) { 
          const abbr = rowData[columnIndex];
          const stateName = localization.abbToName(abbr);
					tableRowHtmlOut += `<th data-label="${stateName}" scope="row">`;
					tableRowHtmlOut += `<div class="ltn-truncate" title="${stateName}">`;
					tableRowHtmlOut += `<a href="javascript:void(0);" tabindex="-1">${stateName}</a>`;
					tableRowHtmlOut += `</div>`;
					tableRowHtmlOut += `</th>`;
				} else {
					tableRowHtmlOut += `<td data-label="${rowData[columnIndex]}">`;
					tableRowHtmlOut += `<div class="ltn-truncate" title="${rowData[columnIndex]}">${rowData[columnIndex]}</div>`;
					tableRowHtmlOut += `</td>`;
				}
			});
			tableRowHtmlOut += `<td data-label="Action">`;
			tableRowHtmlOut += `<div class="ltn-truncate" title="Sign up to walk">Sign up to walk</div>`;
			tableRowHtmlOut += `</td>`;
			tableRowHtmlOut += `</tr>`;
			echo(`${tableRowHtmlOut}`);

		}
	});
%>
	</tbody>
</table>
</div>
