<h1>Light the night</h1>
<h2>When we walk, cancer runs.</h2>


<div id="sponsor-logos" class="ltn-grid ltn-wrap ltn-grid_align-center">
	<div class="ltn-col ltn-size_1-of-1 ltn-large-size_6-of-12">
		<img src="/images/salesforce-logo.svg"/>
	</div>
	<div class="ltn-col ltn-size_1-of-1 ltn-large-size_6-of-12">
		<img src="/images/leukemia-and-lymphoma-society-logo.png"/>
	</div>
</div>
<div id="CTA-buttons" class="ltn-grid ltn-wrap ltn-grid_align-center">
	<div class="ltn-col ltn-size_1-of-1 ltn-large-size_4-of-12">
		<img src="/images/CTA-button--walk.svg"/>
	</div>
	<div class="ltn-col ltn-size_1-of-1 ltn-large-size_4-of-12">
		<img src="/images/CTA-button--donate.svg"/>
	</div>
	<div class="ltn-col ltn-size_1-of-1 ltn-large-size_4-of-12">
		<img src="/images/CTA-button--learn.svg"/>
	</div>
</div>
