<table class="ltn-table ltn-table_cell-buffer ltn-table_bordered ltn-table_striped">
<thead>
<tr class="ltn-line-height_reset">
<th class="" scope="col">
<div class="ltn-truncate" title="Opportunity Name">Opportunity Name</div>
</th>
<th class="" scope="col">
<div class="ltn-truncate" title="Account Name">Account Name</div>
</th>
<th class="" scope="col">
<div class="ltn-truncate" title="Close Date">Close Date</div>
</th>
<th class="" scope="col">
<div class="ltn-truncate" title="Stage">Stage</div>
</th>
<th class="" scope="col">
<div class="ltn-truncate" title="Confidence">Confidence</div>
</th>
<th class="" scope="col">
<div class="ltn-truncate" title="Amount">Amount</div>
</th>
<th class="" scope="col">
<div class="ltn-truncate" title="Contact">Contact</div>
</th>
</tr>
</thead>
<tbody>
<tr class="ltn-hint-parent">
<th data-label="Opportunity Name" scope="row">
<div class="ltn-truncate" title="Cloudhub">
<a href="javascript:void(0);" tabindex="-1">Cloudhub</a>
</div>
</th>
<td data-label="Account Name">
<div class="ltn-truncate" title="Cloudhub">Cloudhub</div>
</td>
<td data-label="Close Date">
<div class="ltn-truncate" title="4/14/2015">4/14/2015</div>
</td>
<td data-label="Prospecting">
<div class="ltn-truncate" title="Prospecting">Prospecting</div>
</td>
<td data-label="Confidence">
<div class="ltn-truncate" title="20%">20%</div>
</td>
<td data-label="Amount">
<div class="ltn-truncate" title="$25k">$25k</div>
</td>
<td data-label="Contact">
<div class="ltn-truncate" title="jrogers@cloudhub.com">
<a href="javascript:void(0);" tabindex="-1">jrogers@cloudhub.com</a>
</div>
</td>
</tr>
<tr class="ltn-hint-parent">
<th data-label="Opportunity Name" scope="row">
<div class="ltn-truncate" title="Cloudhub + Anypoint Connectors">
<a href="javascript:void(0);" tabindex="-1">Cloudhub + Anypoint Connectors</a>
</div>
</th>
<td data-label="Account Name">
<div class="ltn-truncate" title="Cloudhub">Cloudhub</div>
</td>
<td data-label="Close Date">
<div class="ltn-truncate" title="4/14/2015">4/14/2015</div>
</td>
<td data-label="Prospecting">
<div class="ltn-truncate" title="Prospecting">Prospecting</div>
</td>
<td data-label="Confidence">
<div class="ltn-truncate" title="20%">20%</div>
</td>
<td data-label="Amount">
<div class="ltn-truncate" title="$25k">$25k</div>
</td>
<td data-label="Contact">
<div class="ltn-truncate" title="jrogers@cloudhub.com">
<a href="javascript:void(0);" tabindex="-1">jrogers@cloudhub.com</a>
</div>
</td>
</tr>
<tr class="ltn-hint-parent">
<th data-label="Opportunity Name" scope="row">
<div class="ltn-truncate" title="Cloudhub">
<a href="javascript:void(0);" tabindex="-1">Cloudhub</a>
</div>
</th>
<td data-label="Account Name">
<div class="ltn-truncate" title="Cloudhub">Cloudhub</div>
</td>
<td data-label="Close Date">
<div class="ltn-truncate" title="4/14/2015">4/14/2015</div>
</td>
<td data-label="Prospecting">
<div class="ltn-truncate" title="Prospecting">Prospecting</div>
</td>
<td data-label="Confidence">
<div class="ltn-truncate" title="20%">20%</div>
</td>
<td data-label="Amount">
<div class="ltn-truncate" title="$25k">$25k</div>
</td>
<td data-label="Contact">
<div class="ltn-truncate" title="jrogers@cloudhub.com">
<a href="javascript:void(0);" tabindex="-1">jrogers@cloudhub.com</a>
</div>
</td>
</tr>
</tbody>
</table>